.arrowRight {
    color: white;
    top: 30%;
    height: 200px;
    z-index: 200;    
}

.carouselBkg {
    background-color: #44719d;
}

h1 {
    color: black;
    text-align: center;
}

#slider {
    background-image: url('https://picsum.photos/1100/600');
    width: 80%;
    height: 70vh;
    margin: auto;
    z-index: 0;
}

#partnerHead {
    color: white;
}