.training-card-container {
  padding: 0 30px !important;
  margin-bottom: 5rem;
  margin-top: 2rem;
  /* background-color: #dd690c; */
}

.training-area-header {
  /* padding-bottom: 1rem; */
  /* padding-top: 2rem; */
  /* color: #fff; */
  color: #164e85;
}  

.train-orange-arc-bottom {
  transform: rotate(180deg);
}

.MuiContainer-maxWidthLg {
  padding-bottom: 30px;
}

.train-card {
  padding: 30px 30px 10px 30px;
}

.train-logo1 {
    max-height: 75px;
    width: auto;
}

.train-logo2 {
    max-height: 85px;
    width: auto;
}

.train-logo3 {
    max-height: 48px;
    width: auto;
}