.academic-card-container {
  padding: 0 30px !important;
  /* margin-bottom: 15rem; */
  margin-bottom: -8rem;
  margin-top: 3rem;
}

.academic-area-header {
  padding-bottom: 1rem;
  color: #164e85;
}  

.academic-logo1 {
    max-height: 70px;
    width: auto;
}

.academic-logo2 {
    max-height: 35px;
    width: auto;
}