.submenu {
  margin-left: 20%;
  margin-right: 20%;
}

.btn-space {
  max-width: 150px;
}
/* @media (min-width:960px) {
  .MuiGrid-grid-md-2 .btn-space {
    flex-grow: 0;
    max-width: 0%;
    flex-basis: 0%;
  }
} */

.talent {
  text-align: center;
  /* margin-top: 80%; */
}

.partner-btns {
  margin-top: 5rem;
  padding-bottom: 3rem;
  
}

.button-container {
  display: flex;
  justify-content: center;
}

.logo-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px !important;
}
