/* .border {
    position: relative;
    margin-left: 0;
    right: 20px;
    z-index: 20;
    background: transparent;
    width: 100%;
} */

.border {
    position: absolute;
    margin-left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    background: transparent;
    /* width: 100%; */
}

.hero {
    position: relative;
    top: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./front-photo-min.jpeg") 10% 30% no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: 0;
}

.herobrand {
    transition: ease-in-out;
    transition-duration: 2s;
    background: transparent;
    width: 35%;
    margin-top: 40vh;
    margin-left: 30%;
}

@media only screen and (max-width: 768px) {

    .herobrand {
        transition: ease-in-out;
        transition-duration: 2s;
        width: 65%;
        margin-top: 45vh;
        margin-left: 30%;
    } 

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    /* .herobrand {
        transition: ease-in-out;
        transition-duration: 2s;
        width: 65%;
        margin-top: 45vh;
        margin-left: 30%;
    }  */
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}