.border {
    position: absolute;
    margin-left: 0;
    bottom: -40px;
    right: 0;
    z-index: 20;
    background: transparent;
}

.herobrand {
    position: absolute;
    transition: ease-in-out;
    transition-duration: 2s;
    background: transparent;
    width: 35%;
    top: 35%;
    right: 12%;
}

@media only screen and (max-width: 768px) {

    .herobrand {
        position: absolute;
        transition: 2s ease;
        width: 65%;
        top: 20vh;
        right: 10px;
        /* margin-top: 45vh; */
        /* margin-left: 30%; */
    } 

    .border {
        position: absolute;
        bottom: -80px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    .herobrand {
        top: 20vh;

    } 
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}