
h1 {
    color: blue;
}

.cardImage {
    max-width: 240;
}


.headshot {
    border-radius: 50%;
    width: 100%;
    height: auto
}

.main {
    position: relative;
    margin: 40px 10% 50% 10%;
    height: fit-content;
}

.name {
    padding-bottom: 0em;
}

.staffCard {
    max-height: 400px;
}

.title {
    font-size: 1.3em;
    padding-top: -10em;
}

.top {
    position: relative;
    margin-top: 40px;
    height: 20%;
}

.padded-section {
    padding: 40px;
}

.submenu {
    text-align: center;
    margin: 40px 20% 0 20%;
}

.staffcard {
  max-width: 400px;
  text-align: center;
}



