#advisors {
    height: fit-content;
    margin-bottom: 0;
    background-color: #561643;
    max-width: none;
}

h1 {
    color: blue;
}

.cardImage {
    max-width: 240;
}

.bluearc {
    position: relative;
    width: 100%;
    margin-bottom: -10%;
}

.whitearc {
    position: relative;
    background-color: cadetblue;
    width: 100%;
    margin-bottom: -10%;
}

.boardList {
    column-count: 2;
    margin: auto;
    width: 50%;
    padding: 5%;
}

.boardList li {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
}

.pageDiv {
      padding-left: 0;
      padding-right: 0;
}

.divImage {
      width: 100%,
}

.headshot {
    border-radius: 50%;
    width: 100%;
    height: auto
}

#founder {
    position: relative;
    margin: 40px 10% 0 10%;
    height: fit-content;
}

#staffContainer {
    margin-top: -2%;
    background-color: #164e85;
    /* background-image: linear-gradient(to left, #dd690c 0%, #e37c0e 51%, #efa313 100%); */
}

#staffCards {
    /* margin: 5% 20% 5% 20%; */
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 5%;
}

.staffCard {
    margin: 7px;
    max-height: 250;
    height: 250;
}

.staffModal {
    top: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 400;
}

.name {
    padding-bottom: 0em;
}

.orangeBkg {
    width: 140%;
    margin: 0 -20% 0 -20%;
    height: fit-content;
    position: relative;
    background-image: linear-gradient(to left, #dd690c 0%, #e37c0e 51%, #efa313 100%);
}

.staffCard {
    max-height: 400px;
}

.staffPaper {
    background-color: white;
    border: 2px solid #000;
    box-shadow:#000;
    padding: 2, 4, 3;
}

.title {
    font-size: 1.3em;
    padding-top: -10em;
    font-weight: 400;
}

.top {
    position: relative;
    margin-top: 40px;
    height: 20%;
}

.padded-section {
    padding: 40px;
}

/* .submenu {
    text-align: center;
    margin: 40px auto 0 auto;
} */

.staffcard {
  max-width: 400px;
  text-align: center;
}



